body {
    background-image: url("../css/image/burgerImage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-weight: bolder;
    background-attachment: fixed;
  }